{% extends "base.html" %}

{% block title %} Contacto {% endblock %}
{% block header %} Contactanos {% endblock %}
{% block content %}
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li> {{ error }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/contactos/" method="POST">{% csrf_token %}
        <p>Asunto: <input type="text" name="asunto"></p>
        <p>E-mail (opcional): <input type="email" name="email"></p>
        <p>Mensaje: <textarea name="mensaje" cols="50" rows="10"></textarea></p>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}